**/build/**

**/*.swp

**/*.a

**/__pycache__/**

.vscode/**


**/.DS_Store

tags

# output files
**/*.log

**/OpenBLAS/**

# emcc outputs
**/*.js
**/*.html
**/*.wasm
**/*.bc

# ignore jupyter checkpoints
**/.ipynb_checkpoints/*.ipynb

results/v2/**

perf.data
perf.data.old
